  body{
  	background-color: lightgray;
  }
  .newspaper {
  column-count: 4;
  }
  nav{
    margin-top: 20px;
  }
  Div{
    margin-top: 25px;
    margin-bottom: 50px;
  }
  a{
    margin-left: 10px;
  }
  input:not([type=radio]) {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input:[type=radio] {
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=Submit], select {
    color: #ffffff;
    background-color: #99ccff;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  table{
    background-color: white;
  }
  th{
    background-color: lightgray;
    border: 1px solid black;
    margin: 8px;
  }
  tr{
    background-color: lightblue;
    border: 1px dotted black;
    border-style:dotted;
  }
  td{
    cursor: pointer;
    border: 1px dotted black;
    border-style:dotted;
  }


      .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: lightgray;
        overflow-x: hidden;
        padding-top: 20px;
      }

      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .main {
        margin-left: 200px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
